body {
	color: #777777;
	background-image: url("../images/mooning.png");
}

h1 {
	background-color: #4aaaa5;
	color: white;
}

.main {
	background-color: #ffffff;
	border-color: #dddddd;
}

.main h1 {
	background-color: #ffffff;
	border-color: #cccccc;
}

.footer {
	background-color: #666666;
}

.heading-font {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.other-fonts {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.navbar {
	background-color: white;
	font-height: 40px;
	width: 100%;
}

.logo {
	background-color: #4aaaa5;
	color: white;
	padding: 20px;
	position: relative;
	top: 20px;
	left: 270px;
	width: 240px;
	text-align: center;
	font-size: 20px;
}

.page-header {
	padding: 20px;
	color: #4aaaa5;
	background-color: white;
}

.maincontent {
	background-color: white;
	width: 650px;
	position: absolute;
	left: 270px;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px;

}

.portfolio-inset {
	color: white;
	background-color: #4aaaa5;
	text-align: center;
	padding: 10px;
	position: relative;
	bottom: 100px;
	width: 180px;
}

.portfolio {

	display: inline;
}

.portfolio-right {
	position: relative;
	left: 230px;
	display: inline;
	top: -240px;
}

.portfolio-new-line {
	clear: both;
}

.about {
	position: absolute;
	left: 600px;
}